<meta charset="utf-8">
{{>header_template}}
<article>
	<section>
		{{#cart}}
		<div>
			<h1>{{name}}</h1>
			<h5>{{amount}}</h5>
			<form action="/deleteFromCart/{{-index}}" method="post">
				<input type="submit" value="Eliminar">
				<input type="hidden" name="_csrf" value="{{token}}"/>
			</form>


		</div>
		{{/cart}}
		 <p>
		 	<b>Total: </b> {{total}}<br>
		 </p>
		 <form action="/buyCart" method="post">
				<input type="submit" value="Comprar">
				<input type="hidden" name="_csrf" value="{{token}}"/>
				</form>
		 {{^cart}}
		<div>
			<h1>Carrito vacío</h1>
			
		</div>
		{{/cart}}

	</section>

</article>


<footer> </footer>
</body>
</html>