<!DOCTYPE html>
<html lang="es">
<head>
<title>La Reconquista</title>
<meta charset="utf-8">
</head>
<body>
	{{>header_template}}

	<article>
		
		<section>
			{{#cart}}
			<div>
				<h1>{{name}}</h1>
				<form action="/product/delete/{{idClient}}/{{name}}" method="post">
				<input type="submit" value="Eliminar">
				</form>
				
				
			</div>	
			{{/cart}}
			{{#canBuy}}
			<form action="/product/buy/{{idClient}}" method="post">
				<input type="submit" value="Comprar">
				</form>
			{{/canBuy}}
			{{^cart}}
			<div>
				<h1>Carrito vacío</h1>
			</div>	
			{{/cart}}
		</section>
	</article>

	<footer> </footer>
</body>
</html>
