<!DOCTYPE html>
<html lang="es">
<head>
<title>La Reconquista</title>
<meta charset="utf-8">
</head>
<body>
	{{>header_template}}

	<article>
		<section>

			<h1>La Reconquista del Paladar</h1>
			<br>

			<p>
				<a>Address: Muy cerca de tu casa</a>
			</p>
			<br>
			<p>
				No: 7<br>
				 <br> 
				 Ciudad: Tu ciudad
				 <br>
				 <br> 
				 Teléfono: 999999999
				 <br>
				 <br> 
				 Email: laReconquista@delPaladar.es
				 
			</p>
			<br>
			<p>
			<h2>Pedido a domicilio cooming sooon</h2>
			</p>

		</section>
	</article>

	<footer> </footer>

</body>
</html>