<meta charset="utf-8">
<header>

	<div class="iconPosition">
			<header class="icon">
				<img src="/headerIcon" height="200"></img>
			</header>
		</div>
	<nav>
		{{^client}}
		<ul>

			<li><a href="/">Home</a></li>
			<li><a href="/product/menu">Menu</a></li>
			<li><a href="/contacto">Contacto</a></li>
			<li><a href="/client/signup">Registrarse</a></li>
		</ul>
		<form action="/client/login" method="post">
			<input type="text" placeholder="Nombre" name="firstName" required>
			<input type="text" placeholder="Contraseña" name="password" required>
			<input type="submit">
		</form>
		{{/client}} {{#client}}
		<ul>
			<li><a href="/{{idClient}}">Home</a></li>
			<li><a href="/product/menu/{{idClient}}">Menú</a></li>
			<li><a href="/contacto/{{idClient}}">Contacto</a></li>
			<li><a href="/cart/{{idClient}}">Carrito</a></li>
			<li><a href="/client/info/{{idClient}}">{{firstName}}</a></li>
		</ul>
		{{/client}}
		<br>
	</nav>
</header>