<!DOCTYPE html>
<html>
<head>
<title>La Reconquista</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/style.css"/>
<link rel="icon" href="/images/icon.ico"/>
<link rel="stylesheet" href="/css/styles.css" type="text/css"/>
<link rel="stylesheet" href="/css/checkoutstyle.css" type="text/css"/>
</head>
<body>

<div class="iconPosition">
			<header class="icon">
				<img src="/images/icon.jpg" height="200"></img>
			</header>
		</div>
<div class="topnav">

			<a class="active" href="/">Home</a>
			<a href="/product/menu">Menu</a>
			<a href="/cart">Carrito</a>
			<a href="/tickets">Tickets</a>
			<a href="/contacto">Contacto</a>
			{{^client}}
			<a href="/client/signup">Registrarse</a>
			{{/client}} 
			{{#client}}
			<a href="/client/profile">Perfil</a>			
			{{/client}}
			<div class="login-container">
			

			</div>
			
		</div>