<!DOCTYPE html>
<html>
<head>
<title>La Reconquista</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/style.css"/>
<link rel="icon" href="/images/icon.ico"/>
<link rel="stylesheet" href="/css/styles.css" type="text/css"/>
<link rel="stylesheet" href="/css/checkoutstyle.css" type="text/css"/>
</head>
<body>

<div class="iconPosition">
			<header class="icon">
				<img src="/headerIcon" height="200"></img>
			</header>
		</div>
<div class="topnav">
			{{^client}}
			<a class="active" href="/">Home</a>
			<a href="/product/menu">Menu</a>
			<a href="/cart">Carrito</a>
			<a href="/tickets">Tickets</a>
			<a href="/contacto">Contacto</a>
			<a href="/client/signup">Registrarse</a>
			<div class="login-container">
			<a href="/loginPage">Log In</a>
			</form>
			</div>
		</form>
			{{/client}} 
			{{#client}}
			<a class="active" href="/{{idClient}}">Home</a>
			<a href="/product/menu/{{idClient}}">Menú</a>
			<a href="/contacto/{{idClient}}">Contacto</a>
			<a href="/cart/{{idClient}}">Carrito</a>
			<div class="login-container">
			<a href="/client/info/{{idClient}}">{{firstName}}</a>
			</div>
			{{/client}}
			
		</div>