<!DOCTYPE html>
<html lang="es">
<head>
<title>La Reconquista</title>
<meta charset="utf-8">
</head>
<body>
	{{>header_template}}
	
	<article>
		<section>
			<form method="post" action="new">
				<input type="text" placeholder="Nombre" name="firstName" required>
				<input type="text" placeholder="Apellido" name="lastName" required>
				<input type="password" placeholder="Contraseña" name="password" required>
				<input type="number" placeholder="Años" name="age" required>
				<input type="text" placeholder="DNI" name="dni" required>
				<input type="email" placeholder="Correo" name="mail" required>
				<input type="text" placeholder="Dirección" name="address" required>
				<input type="number" placeholder="Teléfono" name="telephone" required>
				<input type="submit">
			</form>
		</section>
	</article>

	<footer> </footer>
</body>
</html>